<% _.each(dir_cap, function(dir){ %>
  <h4>
    <%= getPath(dir).map(function(dir){return dir.title;}).join("/") %>&nbsp;<%= dir.title %>(<%= dir.children.length %>)
  </h4>
  <ul>
    <% _.each(getBookmarks(dir), function(c){%>
    <li>
      <a target="_blank" href="<%= c.url%>">
        <%= c.title%>
      </a>
    </li>
    <% })%>
  </ul>
<% })%>