<% _.each(dir_cap, function(dir){ %>
  <h4>
    <%= dir.ancestors.reverse().map(function(dir){return dir.title;}).join("/") %>&nbsp;<%= dir.title %>(<%= dir.children.length %>)
  </h4>
  <ul>
    <% _.each(getBookmarks(dir), function(c){%>
    <li>
      <%= c.title%>
    </li>
    <% })%>
  </ul>
<% })%>