<% _.each(dup, function(grp, title){ %>
  <h4><%= title%></h4>
  <ul>
    <% _.each(grp, function(bm){ %>
      <li>
        <%= bm.ancestors.reverse().map(function(dir){return dir.title;}).join("/") %>
      </li>
    <% })%>
  </ul>
<% }); %>