<% _.each(dup, function(grp, title){ %>
  <h4><%= title%></h4>
  <ul>
    <% _.each(grp, function(bm){ %>
      <li>
        <a target="_blank" href="<%= bm.url%>">
          <%= getPath(bm).map(function(dir){return dir.title;}).join("/") %>
        </a>
      </li>
    <% })%>
  </ul>
<% }); %>