<% _.each(month, function(m){ %>
  <h4><%= m.month%>&nbsp;(<%= m.bookmarks.length%>)</h4>
  <ul>
    <% _.each(m.bookmarks, function(bm){ %>
      <li>
        <a target="_blank" href="<%= bm.url%>">
          <%= bm.title %>
        </a>
      </li>
    <% })%>
  </ul>
<% }); %>